{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=600px">
  <title>{{ title|default:"ISUCON9 Portal" }}</title>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <link rel="icon" type="image/png" href="{% static "img/isucon_icon.png" %}">
  <link href="{% static "css/bulma.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/fontawesome.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <script type="application/javascript">
    var csrftoken = "{{ csrf_token }}";
  </script>
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/xsrf-token.js" %}"></script>
  <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" media="screen">
  <script src="{% static "js/main.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <link rel="stylesheet" href="{% static "croppie/croppie.css" %}" />
  <script src="{% static "croppie/croppie.js" %}"></script>
  <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
  </style>
</head>
<body>
    <!-- START NAV -->
    <nav class="navbar is-dark">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url "dashboard" %}">
                    <img src="{% static "img/isucon9_white.svg" %}" width="112" height="28">
                </a>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url "dashboard" %}">
                        <span class="icon">
                            <i class="fas fa-chart-line"></i>
                        </span>
                        <span>Dashboard</span>
                    </a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'logout' %}">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
        {% for info in informations %}
        <article class="message is-info">
            <div class="message-header">
                <p>{{ info.title }}</p>
            </div>
            <div class="message-body">
                {{ info.description|linebreaks }}
            </div>
        </article>
        {% endfor %}


        {% if not user.team.alibaba_account and not is_registration_available %}
        <article class="message is-warning">
          <div class="message-body">
            Alibaba CloudのAccount IDが設定されていません。<a href="{% url "team_settings" %}">Team Settings</a>から設定してください。
          </div>
        </article>
        {% endif %}

        {% if is_now_on_contest and servers.count == 0 %}
        <article class="message is-warning">
          <div class="message-body">
            ベンチマーク対象のサーバが設定されていません。<a href="{% url "servers" %}">Server Settings</a>から設定してください。
          </div>
        </article>
        {% endif %}

        {% for message in messages %}
        <article class="message is-{{ message.tags }}">
          <div class="message-body">
            {{ message }}
          </div>
        </article>
        {% endfor %}

        <div class="columns">
            <div class="column is-3">
                <aside class="menu">
                    {% if is_now_on_contest %}
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="{% if page == "dashboard" %}active{% endif %}" href="{% url "dashboard" %}">
                                <span class="icon">
                                    <i class="fas fa-chart-line"></i>
                                </span>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="{% if page == "jobs" %}active{% endif %}" href="{% url "jobs" %}">
                                <span class="icon">
                                    <i class="fas fa-list-alt"></i>
                                </span>
                                <span>Show All Jobs</span>
                            </a>
                        </li>
                        <li>
                            <a class="{% if page == "scores" %}active{% endif %}" href="{% url "scores" %}">
                                <span class="icon">
                                    <i class="fas fa-chart-area"></i>
                                </span>
                                <span>Show All Team Scores</span>
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                    <p class="menu-label">
                        Settings
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="{% if page == "team_settings" %}active{% endif %}" href="{% url "team_settings" %}">
                                <span class="icon">
                                    <i class="fas fa-cogs"></i>
                                </span>
                                <span>Team Settings</span>
                            </a>
                        </li>
                        {% if is_now_on_contest %}
                        <li>
                            <a class="{% if page == "servers" %}active{% endif %}" href="{% url "servers" %}">
                                <span class="icon">
                                    <i class="fas fa-server"></i>
                                </span>
                                <span>Servers</span>
                            </a>
                        </li>
                        {% endif %}
                        {% comment %}
                        <li>
                            <a class="{% if page == "members" %}active{% endif %}" href="/members">
                                <span class="icon">
                                    <i class="far fa-address-card"></i>
                                </span>
                                <span>Manage Your Team</span>
                            </a>
                        </li>
                        {% endcomment %}
                    </ul>
                    <p class="menu-label">
                        Links
                    </p>
                    <ul class="menu-list">
                        {% if discord_url %}
                        <li>
                            <a target="_blank" href="{{ discord_url }}">
                                <span class="icon">
                                    <i class="fab fa-discord"></i>
                                </span>
                                <span>Discord</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if is_now_on_contest and manual_url %}
                        <li>
                            <a target="_blank" href="{{ manual_url }}">
                                <span class="icon">
                                    <i class="fas fa-book"></i>
                                </span>
                                <span>Manual</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if is_now_on_contest and regulation_url %}
                        <li>
                            <a target="_blank" href="{{ regulation_url }}">
                                <span class="icon">
                                    <i class="fas fa-clipboard-list"></i>
                                </span>
                                <span>Regulation</span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a target="_blank" href="{{ isucon_official_url }}">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span>ISUCON Site</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{ twitter_url }}">
                                <span class="icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <span>Official Twitter</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Powered by <a href="https://bulma.io/" target="_blank">Bulma</a> / <a href="https://fontawesome.com/" target="_blank">Font Awesome</a> / <a href="http://amon.64p.org/" target="_blank">Amon2</a>.
            </p>
        </div>
    </footer>
    {% block script %}{% endblock %}
</body>
</html>
