<p class="menu-label">
    Staff
</p>
<ul class="menu-list">
    <li>
        <a class="{% if page == "dashboard" %}active{% endif %}" href="{% url "staff_dashboard" %}">
            <span class="icon">
                <i class="fas fa-chart-line"></i>
            </span>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a class="{% if page == "jobs" %}active{% endif %}" href="{% url "staff_jobs" %}">
            <span class="icon">
                <i class="fas fa-list-alt"></i>
            </span>
            <span>Show All Jobs</span>
        </a>
    </li>
    <li>
        <a class="{% if page == "scores" %}active{% endif %}" href="{% url "staff_scores" %}">
            <span class="icon">
                <i class="fas fa-chart-area"></i>
            </span>
            <span>Show All Team Scores</span>
        </a>
    </li>
</ul>
