{% load humanize %}

{% comment %}

<section class="hero welcome is-small <: $score.latest_status == 'fail' ? 'is-danger' : 'is-info' :>">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ user.team.name }}
            </h1>
            <h2 class="subtitle">
                Team Id: {{ user.team.id }}
            </h2>
        </div>
    </div>
</section>


{% with score=user.team.score %}
  {% if score %}
      <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">{{ score.latest_score|intcomma }} ｲｽｺｲﾝ</p>
                      <p class="subtitle">Latest Total transaction [ISUCOIN]</p>
                  </article>
              </div>
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">{{ score.best_score|intcomma }} ｲｽｺｲﾝ</p>
                      <p class="subtitle">Best Total transaction [ISUCOIN]</p>
                  </article>
              </div>
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">{{ score.latest_status }}</p>
                      <p class="subtitle">Latest Status</p>
                  </article>
              </div>
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">{{ score.updated_at|date:"H:i:s" }}</p>
                      <p class="subtitle">Updated At</p>
                  </article>
              </div>
          </div>
      </section>
  {% endif %}
{% endwith %}
{% endcomment %}
