[Unit]
Description=ISUCON9 Portal
Requires=portal.service
[Service]
EnvironmentFile=-/opt/isucon9-portal/.env
WorkingDirectory=/opt/isucon9-portal
Type=simple
ExecStart=/usr/local/bin/docker-compose up --abort-on-container-exit
ExecStop=/usr/local/bin/docker-compose stop
TimeoutStartSec=10min
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target
