[Unit]
Description=ISUCON9 Portal
Requires=portal.service
[Service]
EnvironmentFile=-/opt/portal/.env
WorkingDirectory=/opt/portal
Type=simple
ExecStart=/usr/bin/docker-compose up --abort-on-container-exit
ExecStop=/usr/bin/docker-compose stop
TimeoutStartSec=10min
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target
