{% load humanize %}
<div class="card-table">
    <div class="content">
        <table class="table is-fullwidth is-striped">
            <tbody>
                {% if staff %}
                  <tr>
                      <th width="10%">Team</th>
                      <td>{{ job.team }} ({{ job.team.id }})</td>
                  </tr>
                  <tr>
                      <th width="10%">Benchmarker</th>
                      <td>{{ job.benchmarker }}</td>
                  </tr>
                {% endif %}
                <tr>
                    <th width="10%">JobId</th>
                    <td>{{ job.id }}</td>
                </tr>
                <tr>
                    <th width="10%">Target</th>
                    <td>{{ job.target_ip }}</td>
                </tr>
                <tr>
                    <th width="10%">Score</th>
                    <td>
                      {% if job.is_finished %}
                        {{ job.score|intcomma }}
                      {% endif %}
                    </td>
                </tr>
                <tr {% if not job.is_finished %}class="state-running"{% endif %}>
                    <th width="10%">Status</th>
                    <td>
                      {% if job.status == job.DONE %}
                        <span class="tag is-success">Done</span>
                      {% endif %}
                      {% if job.status == job.ABORTED %}
                        <span class="tag is-danger">Aborted</span>
                      {% endif %}
                      {% if job.status == job.CANCELED %}
                        <span class="tag is-warning">Canceled</span>
                      {% endif %}
                      {% if job.status == job.WAITING %}
                        <span class="tag is-info">Waiting</span>
                      {% endif %}
                      {% if job.status == job.RUNNING %}
                        <span class="tag is-info">Running</span>
                      {% endif %}
                    </td>
                </tr>
                <tr>
                    <th width="10%">Result</th>
                    <td>
                      {% if job.is_finished %}
                        {% if job.is_passed %}
                          <span class="tag is-success">Passed</span>
                        {% else %}
                          <span class="tag is-danger">Failed</span>
                        {% endif %}
                      {% endif %}
                    </td>
                </tr>
                <tr>
                    <th width="10%">UpdatedAt</th>
                    <td>{{ job.updated_at|date:"H:i:s" }}</td>
                </tr>
                <tr>
                    <th width="10%">Message</th>
                    <td>
                        {{ job.reason|linebreaksbr }}
                    </td>
                </tr>
                {% if staff %}
                <tr>
                    <th width="10%">Stdout</th>
                    <td style="font-size: 0.7rem">
                        <textarea style="width:100%; height: 100px;" wrap="off">{{ job.pretty_stdout }}</textarea>
                    </td>
                </tr>
                <tr>
                    <th width="10%">Stderr</th>
                    <td style="font-size: 0.7rem">
                        <textarea style="width:100%; height: 300px;" wrap="off">{{ job.stderr }}</textarea>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
