{% extends "include/layout_simple.html" %}
{% load static %}


{% block content %}

{% if user and user.is_authenticated and user.team %}
<script>
    document.location = "{% url 'dashboard' %}";
</script>
{% else %}

<div class="container has-text-centered">
    <figure class="logo">
        <img src="{% static "img/isucon_logo@3x.png" %}" width="400px">
    </figure>
    <div class="column is-4 is-offset-4">
        {% if form.errors %}
        <article class="message is-danger">
            <div class="message-header">
                <p>Oops!</p>
            </div>
            <div class="message-body">
                <strong>Login FAILED!!</strong><br>
                {{ form.errors }}
            </div>
        </article>
        {% endif %}
        {% if user and user.is_authenticated %}
        <h2>Hello {{ user.get_full_name|default:user.username }}!</h2>
        {% if not user.team %}
        <h2>既存チームに参加する</h2>
        <div class="notification is-primary">
            チーム参加にはチーム番号とパスワードが必要です。事前にチーム代表者からチーム番号とパスワードを受け取ってください。
        </div>
        <div class="notification is-info">
            <h4><strong>注意</strong></h4>
            <ul type="disc">
                <li>ご登録いただいたチーム名と参加者名は ISUCON 公式サイト上で公開されます</li>
                <li>チーム名・参加者名に公序良俗に反する名前は使わないでください</li>
                <li>チーム名・参加者名に機種依存文字・絵文字・タグなどが入っていた場合、サイトへの表示時に表現を変えさせていただく場合があります</li>
            </ul>
        </div>

        <div class="box">
            <h5>既存チームに参加</h5>
            <form enctype="multipart/form-data" method="post" action="{% url 'join_team' %}">
                {% csrf_token %}
                <div class="field">
                    <label class="label">{{ form.display_name.label }}</label>
                    <div class="control">
                        {{ form.display_name }}
                    </div>
                    <p class="help">最大100文字</p>
                </div>
                <div class="field">
                    <label class="label">{{ form.user_icon.label }}</label>
                    <div id="preview_image" style="border: 1px solid; display: block; background-image: none; background-size: cover; width: 150px; height: 150px;"></div>
                    <div class="control">
                        {{ form.user_icon }}
                    </div>
                    <p class="help">最大100文字</p>
                </div>
                <div class="field">
                    <label class="label">{{ form.team_id.label }}</label>
                    <div class="control">
                        {{ form.team_id }}
                    </div>
                    <p class="help">最大100文字</p>
                </div>
                <div class="field">
                    <label class="label">{{ form.team_password.label }}</label>
                    <div class="control">
                        {{ form.team_password }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.is_ok.label }}</label>
                    <div class="control">
                        {{ form.is_ok }}
                    </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                </div>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>


<script>
    $("#username").val('{{ username }}');

    $('#id_user_icon').on('change', function(event) {
        var files = event.target.files;
        var reader = new FileReader();
        reader.onload = (function () {
            return function (e) {
                a = $('#preview_image').css({backgroundImage: 'url("' + e.target.result + '")'});
            };
        })(files[0]);
        reader.readAsDataURL(files[0]);
    });
</script>

{% endif %}

{% endblock %}