{% extends "include/layout_simple.html" %}
{% load static %}


{% block content %}

{% if user and user.is_authenticated and user.team %}
<script>
    document.location = "{% url 'dashboard' %}";
</script>
{% else %}

<div class="container">
    <figure class="logo has-text-centered">
        <img src="{% static "img/isucon9_logo.svg" %}" width="400px">
    </figure>
    <div class="column is-8 is-offset-2">
        {% if form.errors %}
        <article class="message is-danger">
            <div class="message-header">
                <p>Oops!</p>
            </div>
            <div class="message-body">
                <strong>Login FAILED!!</strong><br>
                {{ form.errors }}
            </div>
        </article>
        {% endif %}
        {% if user and user.is_authenticated %}
        {% if not user.team %}

        <div class="notification is-warning">
            <h2 class="subtitle is-4">参加規約</h2>
            <p class="is-size-5">ISUCON 9への参加には参加規約への同意が必要となります。下記のリンクから内容を確認し、同意する場合はフォームのチェックボックスにチェックを入れてください。</p>
            <p class="is-size-5"><a href="{{ term_url }}" target="_blank">ISUCON 9 参加規約</a></p>
            <hr>
            <h2 class="subtitle is-4">注意事項</h2>
            <li class="is-size-5">チーム参加にはチーム番号とパスワードが必要です。事前にチーム代表者からチーム番号とパスワードを受け取ってください。</li>
            <li class="is-size-5">ご登録いただいた参加者名は ISUCON 公式サイト上で公開されます。</li>
            <li class="is-size-5">参加者名に公序良俗に反する名前は使わないでください。</li>
            <li class="is-size-5">参加者名に機種依存文字・絵文字・タグなどが入っていた場合、サイトへの表示時に表現を変えさせていただく場合があります。</li>
            <li class="is-size-5">参加登録完了メールは届きません、登録完了後のページをブックマークしてください。</li>
        </div>

        <div class="box">
            <h1 class="title">チームに参加する</h1>

            <form enctype="multipart/form-data" method="post" action="{% url 'join_team' %}">
                {% csrf_token %}

                <h2 class="subtitle">チーム情報</h2>

                <div class="field">
                    <label class="label">{{ form.team_id.label }}</label>
                    <div class="control">
                        {{ form.team_id }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.team_password.label }}</label>
                    <div class="control">
                        {{ form.team_password }}
                    </div>
                </div>

                <h2 class="subtitle">参加者情報</h2>

                <div class="field">
                    <label class="label">{{ form.display_name.label }}</label>
                    <div class="control">
                        {{ form.display_name }}
                    </div>
                    <p class="help">最大100文字</p>
                </div>
                <div class="field">
                    <label class="label">{{ form.user_icon.label }}</label>
                    <div id="preview_image" style="border: 1px solid; display: block; background-image: none; background-size: cover; width: 150px; height: 150px;"></div>
                    <span>{{ form.is_import_github_icon }} {{ form.is_import_github_icon.label }}</span>
                    <div class="control">
                        {{ form.user_icon }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            {{ form.is_student }}
                            {{ form.is_student.label }}
                        </label>
                    </div>
                </div>

                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      {{ form.is_ok }}
                      上記の注意、および<a href="{{ term_url }}" target="_blank">参加規約</a>に同意します。
                    </label>
                  </div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                </div>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>


<script>
    $('#id_user_icon').on('change', function(event) {
        var files = event.target.files;
        var reader = new FileReader();
        reader.onload = (function () {
            return function (e) {
                a = $('#preview_image').css({backgroundImage: 'url("' + e.target.result + '")'});
            };
        })(files[0]);
        reader.readAsDataURL(files[0]);
    });

    $('#id_is_import_github_icon').on('change', function (){
        if ($('#id_is_import_github_icon').prop('checked'))
        {
            $('#id_user_icon').val('');
            $('#id_user_icon').attr('disabled', '');
            $('#preview_image').css({backgroundImage: 'url(https://github.com/{{ user.username }}.png)'});
        } else {
            $('#id_user_icon').removeAttr('disabled');
            $('#preview_image').css({backgroundImage: 'none'});
        }
    });
</script>

{% endif %}

{% endblock %}
