{% extends "include/layout_simple.html" %}
{% load static %}


{% block content %}

<div class="container has-text-centered">
  <figure class="logo">
    <img src="{% static "img/isucon_logo@3x.png" %}" width="400px">
  </figure>
  <div class="column is-4 is-offset-4">
    {% if form.errors %}
      <article class="message is-danger">
        <div class="message-header">
          <p>Oops!</p>
        </div>
        <div class="message-body">
           <strong>Login FAILED!!</strong><br>
        </div>
      </article>
    {% endif %}
    {% if user and not user.is_anonymous %}
      <h3>Hello {{ user.get_full_name|default:user.username }}!</h3>
      <a href="/auth/logout/">
        <button class="button is-block is-info is-large is-fullwidth">logout</button>
      </a>
    {% else %}

    <h3 class="title has-text-grey">Login</h3>
    <p class="subtitle has-text-grey">Please login to proceed.</p>
    <div class="box">
        <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">
          <button class="button is-block is-info is-large is-fullwidth">Github de login suru</button>
        </a>
    </div>
    {% endif %}

    <p class="has-text-grey">
      <a href="#">Need Help?</a>
    </p>
  </div>
</div>

{% endblock %}
