{% extends "include/layout_simple.html" %}
{% load static %}


{% block content %}
<div class="container has-text-centered">
  <figure class="logo">
    <img src="{% static "img/isucon_logo@3x.png" %}" width="400px">
  </figure>
  <div class="column is-4 is-offset-4">
    <h3 class="title has-text-grey">チーム作成完了</h3>
    <p class="subtitle has-text-grey">You have successfully チーム作成!</p>

    <h3>チーム名: </h3>
    <input type="text" readonly value="{{ team_name }}">
    <h3>チーム番号: </h3>
    <input type="text" readonly value="{{ team_id }}">
    <h3>チームパスワード: </h3>
    <input type="text" readonly value="{{ team_password }}">
    <a href="/contest/dashboard/">
      <button class="button is-block is-info is-large is-fullwidth">Go to dashboard</button>
    </a>

    <p class="has-text-grey">
      <a href="#">Need Help?</a>
    </p>
  </div>
</div>
{% endblock %}
