{% extends "include/layout_simple.html" %}
{% load static %}


{% block content %}

<div class="container has-text-centered">
    <figure class="logo">
        <img src="{% static "img/isucon9_logo.svg" %}" width="400px">
    </figure>
    <div class="column is-8 is-offset-2">

      <div class="notification is-warning">
          <h2 class="subtitle is-4">注意事項</h2>
          <li class="is-size-5">参加登録完了メールは届きません、本ページで確認してください。</li>
          <li class="is-size-5">
            チームメンバーの変更や登録情報の変更をしたい場合は運営へご連絡ください。
            <a href="https://twitter.com/isucon_official" target="_blank">@isucon_official</a>へReplyまたはDMをお願いします。
          </li>
      </div>

      <div class="box">
        <h1 class="title">チーム登録情報</h1>

        <h2 class="subtitle">チーム名</h2>
        <p class="is-size-4">{{ user.team.name }}</p>
        <hr>
        <h2 class="subtitle">チーム番号</h2>
        <p class="is-size-4">{{ user.team.id }}</p>
        <hr>
        <h2 class="subtitle">チームパスワード</h2>
          <div style="display: flex;">
            <textarea class="textarea has-fixed-size" id="team_password" style="flex-basis: auto; min-width: 50%; min-height: 6ex; text-align: center;" readonly>{{ user.team.password }}</textarea>
            <button id="copy_button" style="flex-basis: 6em; min-height: 6ex; " class="button is-info">コピー</button>
          </div>
        <hr>
        <h2 class="subtitle">参加日</h2>
        <p class="is-size-4">{{ user.team.participate_at|date:"Y-m-d (D)" }}</p>
        <hr>
        <h2 class="subtitle">チームメンバー</h2>
        <div style="display: flex; flex-wrap: wrap;justify-content: center;">

          {% for member in team_members %}
          <div class="item" style="width: 200px;">
            <img src="{{ member.icon.thumbnail.url }}">
            <p>{{ member }}</p>
            {% if member.team.owner == member %}
            <p>チーム代表者</p>
            {% else %}
            <p>チームメンバー</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>

<script>
  $('#team_password').focus(function(){
    this.select();
  });

  $('#copy_button').click(function(){
    $('#team_password').select();
    document.execCommand('copy');
    alert('チームパスワードをクリップボードにコピーしました');
  });
</script>

{% endblock %}
