{% extends "include/layout_simple.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="has-text-centered">
    <figure class="logo">
        <img src="{% static "img/isucon9_logo.svg" %}" width="400px">
    </figure>
    </div>
    <div class="column is-8 is-offset-2 teamlist">

      <div class="box">
        <h1 class="title">参加チーム一覧 (参加登録順)</h1>

          {% for team in teams %}
          <div class="box">
          <h2>{{ team.name }}</h2>
            <ul>
            {% for u in team.user_set.all %}
              <li>{{ u.display_name }}{% if u.is_student %} [学生]{% endif %}</li>
            {% endfor %}
            </ul>
          </div>
          {% endfor %}

      </div>
    </div>
</div>


{% endblock %}
