{% extends "include/layout.html" %}
{% load humanize %}

{% block content %}
<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">ISUCON9</a></li>
            <li><a href="/jobs">Show All Jobs</a></li>
            <li class="is-active"><a href="#" aria-current="page">Job Details</a></li>
        </ul>
    </nav>

    {% include "include/team_header.html" %}

    <section class="table-list">
        <div class="card events-card">
            <header class="card-header is-dark">
                <p class="card-header-title">
                    <span class="icon">
                        <i class="fas fa-list-alt"></i>
                    </span>
                    <span>Job</span>
                </p>
            </header>
            {% include "includes/job_detail_part.html" %}
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
{% if not job.is_finished %}
<script type="application/javascript">
  $(function(){
    setTimeout(function(){location.reload();}, 5000);
  });
</script>
{% endif %}
{% endblock %}
