{% extends "include/layout.html" %}
{% load humanize %}

{% block content %}
<div class="column is-9">
    {% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">ISUCON</a></li>
            {% if staff %}
              <li><a href="{% url "staff_jobs" %}">Show All Jobs</a></li>
            {% elif result %}
              <li><a href="{% url "result_jobs" %}">Show All Jobs</a></li>
            {% else %}
              <li><a href="{% url "jobs" %}">Show All Jobs</a></li>
            {% endif %}
            <li class="is-active"><a href="#" aria-current="page">Job Details</a></li>
        </ul>
    </nav>
    {% endblock %}

    <section class="table-list">
        <div class="card events-card">
            <header class="card-header is-dark">
                <p class="card-header-title">
                    <span class="icon">
                        <i class="fas fa-list-alt"></i>
                    </span>
                    <span>Job</span>
                </p>
            </header>
            {% include "includes/job_detail_part.html" %}
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
{% if not job.is_finished %}
<script type="application/javascript">
  $(function(){
    setTimeout(function(){location.reload();}, 5000);
  });
</script>
{% endif %}
{% endblock %}
