{% extends "include/layout.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">ISUCON9</a></li>
            <li class="is-active"><a href="#" aria-current="page">Team Settings</a></li>
        </ul>
    </nav>

    {% if form.is_registration_available %}
      <article class="message is-info">
        <div class="message-body">
          チームメンバーの変更や登録情報の変更は {{ registration_end_at | date:"Y年m月d日 H時i分" }} までです。
        </div>
      </article>
    {% else %}
      <article class="message is-info">
        <div class="message-body">
          チームメンバーの変更や登録情報の変更をしたい場合は運営へご連絡ください。<br>
          <a href="https://twitter.com/isucon_official" target="_blank">@isucon_official</a>へReplyまたはDMをお願いします。
        </div>
      </article>
    {% endif %}



    <form method="post">
      <input type="hidden" name="action" value="team"/>
      {% csrf_token %}

      <section class="section">
        <h1 class="title">Information</h1>
        <div class="box">

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">チーム名</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{ form.name|add_class:"input" }}
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">チーム番号</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" value="{{ user.team.id }}" readonly>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">パスワード</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" style="width: 200px;" id="team_password" value="{{ user.team.password }}" readonly>
                  <button id="copy_button" type="button" class="button is-rounded is-small">コピー</button>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">参加日</label>
            </div>
            <div class="field-body">
              <div class="field">
                {% if form.is_registration_available %}
                <p class="control">
                  <div class="select">
                    {{ form.participate_at }}
                  </div>
                </p>
                {% else %}
                <p class="control">
                  <input class="input is-static" value="{{ user.team.participate_at|date:"Y-m-d (D)" }}" readonly>
                </p>
                {% endif %}
              </div>
            </div>
          </div>

          {% if user.team.owner.id == user.id %}
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">連絡先</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" value="{{ user.team.owner.email }}" readonly>
                </p>
                <p class="help">メールアドレスはチーム代表者にのみ表示されています</p>
              </div>
            </div>
          </div>
          {% endif %}

          {% if form.is_registration_available %}
            {{ form.alibaba_account.as_hidden }}
          {% else %}
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Alibaba Cloud Account ID</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{ form.alibaba_account|add_class:"input" }}
                </p>
                {% if form.alibaba_account.errors %}
                  <p class="help is-danger">{{ form.alibaba_account.errors.0 }}</p>
                {% endif %}
              </div>

            </div>
          </div>
          {% endif %}

          <button type="submit" class="button is-primary">保存</button>


        </div>
      </section>

    </form>

    <section class="section">
      <h1 class="title">Members</h1>
      <div class="box">


        <div style="display: flex; flex-wrap: wrap;justify-content: center;">

          {% for member in team_members %}
          <div class="item" style="width: 200px; padding-left: auto; text-align: center;">
            {% if member.id == user.id %}
              {# 編集可能 #}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="user"/>
                <img src="{{ member.icon.thumbnail.url }}">
                <p>{% render_field user_form.display_name style="text-align: center" class="input is-small" %}
                {% if member.team.owner == member %}
                <p>チーム代表者</p>
                {% else %}
                <p>チームメンバー</p>
                {% endif %}
                <button type="submit" class="button is-small is-primary">保存</button>
              </form>
            {% else %}
              {# 表示のみ #}
              <img src="{{ member.icon.thumbnail.url }}">
              <p>{{ member.display_name }}</p>
              {% if member.team.owner == member %}
              <p>チーム代表者</p>
              {% else %}
              <p>チームメンバー</p>
              {% endif %}
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
</div>

{% endblock %}

{% block script %}
<script>
  $('#team_password').focus(function(){
    this.select();
  });

  $('#copy_button').click(function(){
    $('#team_password').select();
    document.execCommand('copy');
    alert('チームパスワードをクリップボードにコピーしました');
  });
</script>
{% endblock %}
